/* setting up the nav bar */
#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em;
}
#nav-bar .logo {
  width: 80px;
  height: 80px;
}
#nav-bar .header {
  padding: 0px 0px 0px 10px;
  font-size: 28.78px;
  line-height: 2.8;
  position: absolute;
}

#nav-bar button {
  margin-top: 10px;
  float: right;
  width: 100px;
  height: 60px;
  color: #1fa792;
  font-size: 17px;
  background-color: #cbf3ed;
  border-color: black;
  border-radius: 0.5em;
}

#nav-bar button:hover {
  background-color: white;
  border-color: black;
  color: black;
}
